/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Light gray background */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4caf50; /* Green */
    color: #fff;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.question {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.answer {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.correct-answer {
    color: #8be690; /* Light green for text in correct answers */
    background-color: white; /* White background for correct answers */
}

.incorrect-answer {
    color: #ec716f; /* Red for text in incorrect answers */
    background-color: white; /* White background for incorrect answers */
}


.chart-container {
    margin-top: 20px;
    text-align: center;
}

/* Ensure the chart is centered within the container */
#chart {
    display: block;
    margin: 0 auto;
}
