<!DOCTYPE html>
<html>
<head>
    <title>Multiple Choice Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Multiple Choice Quiz</h1>
        <form method="POST" action="/submit">
            <div class="question">
                <h2>{{ question.question }}</h2>
                {% for option in question.options %}
                    <button type="submit" class="btn btn-outline-success btn-block" name="user_answer" value="{{ option }}">{{ option }}</button>
                {% endfor %}
            </div>
        </form>
    </div>
</body>
</html>
