<!DOCTYPE html>
<html>
<head>
    <title>Multiple Choice Quiz</title>
</head>
<body>
    <h1>Multiple Choice Quiz</h1>
    <form method="POST" action="/submit">
        {% for question in questions %}
            <h2>{{ question.question }}</h2>
            {% for option in question.options %}
                <input type="radio" name="{{ question.question }}" value="{{ option }}"> {{ option }}<br>
            {% endfor %}
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
